<!DOCTYPE html>
<html>
<meta charset="utf-8">
<head th:include="include :: header"></head>
<body class="gray-bg">
<div class="wrapper wrapper-content ">
    <div class="row">
        <div class="col-sm-12">
            <div class="ibox float-e-margins">
                <div class="ibox-content">
                    <form class="form-horizontal m-t" id="signupForm">
                        <div class="form-group">
                            <label class="col-sm-2 control-label">所属期刊：</label>
                            <div class="col-sm-10">
                                <input th:value="${rect.publishdate}" id="publishdate" name="publishdate" class="form-control" type="text">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">所属版面：</label>
                            <div class="col-sm-10">
                                <input th:value="${rect.verorder}" id="verorder" name="verorder" class="form-control" type="text">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">版面名称：</label>
                            <div class="col-sm-10">
                                <input th:value="${rect.banmian}" id="banmian" name="banmian" class="form-control" type="text">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">首版图片：</label>
                            <div class="col-sm-10">
                                <input th:value="${rect.picfile}" id="picfile" name="picfile" class="form-control" type="text">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">PDF下载地址：</label>
                            <div class="col-sm-10">
                                <input th:value="${rect.pdffile}" id="pdffile" name="pdffile" class="form-control" type="text">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">版面热点：</label>
                            <div class="col-sm-10">
                                <input th:value="${rect.rect}" id="rect" name="rect" class="form-control" type="text">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">isfrist：</label>
                            <div class="col-sm-10">
                                <input th:value="${rect.isfrist}" id="isfrist" name="isfrist" class="form-control" type="text">
                            </div>
                        </div>
                        <div class="form-group" hidden="hidden">
                            <label class="col-sm-2 control-label">publishid：</label>
                            <div class="col-sm-10">
                                <input th:value="${rect.publishid}" id="publishid" name="publishid" class="form-control" type="text">
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-10 col-sm-offset-3">
                                <button type="submit" class="btn btn-primary">添加/修改</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<div th:include="include::footer"></div>
<script type="text/javascript" src="/js/appjs/epaper/rect/add.js">
</script>
</body>
</html>
